<p>こんにちは <%= @resource.email %> さん！</p>

<p>誰かがパスワードを変更するためのリンクをリクエストしました。以下のリンクから変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールのリクエストをしていない場合は、このメールを無視してください。</p>
<p>新しいパスワードを作成するまで、上記のリンクにアクセスしない限り、パスワードは変更されません。</p>
